:root {
    /* header */
    --header: #fff;
    --header-logo-text: #576368;
    --header-link-selected: #185EE6;
    --header-link-text: rgba(0, 0, 0, 0.7);
    --header-padding-vertical: 0.75rem;
    --header-padding-horizontal: 2rem;
    --header-shadow: 0 1px 0 0 #d1d4d9;

    /* hamburger menu */
    --hamburger-menu: #fff;
    --hamburger-link-selected: rgba(0, 0, 0, 0.7);
    --hamburger-link: rgba(0, 0, 0, 0.6);

    /* main content */
    --main-content: #fff;
    --main-content-text: #3C3C3C;
    --main-content-search: #F6F6F6;
    --main-content-search-placeholder: #9B9B9B;
    --main-content-group: #4582F6;

    /* graveyard */
    --graveyard-search-results: #70757A;
    --tombstone-background: #fff;
    --tombstone-title: #414141;
    --tombstone-description: #545454;

    /* buttons */
    --button-primary: #185EE6;
    --button-primary-foreground: #fff;

    --button-ghost: transparent;
    --button-ghost-foreground: #4184F3;
}

* {
    font-family: Roboto, sans-serif;
}

html,
body,
#root,
.app {
    min-height: 100vh;
}

.app,
main {
    display: flex;
    flex-direction: column;
    flex: 1;
}
